# Python 2/3 compatibility library -- MIT license
six
# HTTP request library -- ASL license
requests[security]
# filesystem caching support for requests -- MIT license
CacheControl
# required for CacheControl.caches.FileCache -- MIT license
lockfile
# parses and standardizes phone numbers -- ASL license
phonenumbers
# date/time library -- ASL license
arrow
